// @font-face {font-family: "iconfont";
//   src: url('./font/iconfont.eot?t=1568862087510'); /* IE9 */
//   src: url('./font/iconfont.eot?t=1568862087510#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAP0AAsAAAAACJgAAAOoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDRgqDfIMRATYCJAMYCw4ABCAFhG0HZRtSB8gOJUHBwFBgAANABN+P0fZ9OxFJolE1XbrE0M063RMhQyZ0hkS66TSSl3A/vlu+0hOTnFm585lYJQleVsJEy+ZlLv63/al+48Nfjm/ZCbSefctlrOVz48IA4ygMaG9sUxZwgSTqLbKLOJMXdZxAt3mVuMsuvQZBmAKNC8RzKxUhLOdUWkpDp9BqlpYrbhkE60wfTI8AfAy/H/+hNsJIaoZOun7YWYF2vwo/NPF6QDcqzwZ9Oj+0VWRsAIV4WRt8jI/jG3jdTnaQQ6AT+xNTxc0fmgIBma1UH0XRauyX/vCSJCsq0aDiXnBXSjR+FVJC8KuSkPhVpUxNgkjI/DITCr+aPOpE6smHVLwG8AUQv8ES+G1ms9My0ilZY+zTk7GySt/vT6V4tf+gL4XQtb4DRtJUo5ykrIkwdiUp+04VH9iSSQ8+fH2/DK/fVLpql2hc2VpBD/rKSWWXq2eL8P7joPdTlBmqMYAc2Hr1dBlevTrZ33rbs5c3lyrXhvgjnMYbgRzYefV2Gd5/uyR16sG7l7eXTkra9ypw9tO2i7kT8i5s2y7LorY07+D2baUtodlPJTOumfujHBW81Km7Ha5Fwcy38H7DP3eCw+ub2X/3jDmDodm9NFPPeHt3yDd+l+uZcCrX3mz1j4JO+fbuLTcOvtc5v6Od65l3C7o/6/Rej4dmz7hb+T2h2fP9PTk+TLwq6ZrzbOKWgn4kuTZ4WS3XBgsd+9UF4f4Fws5+j+62S4dpALcb8geeAJBvTArA7aYMeR2A/N1kdZPz6g5+9h/+jb6b/dFjY1v974ws4Mf+uPmhGmaC36QCq/5nRb0AQP2sa5CrFbuWKoHFgWYOHE3oxh7+ZJph76Yyj8nlhE5jA6wdg5NZp4WUKtwGqh6baDqdoNu6rqt7jNDwonRhzVwBYdBRJP2+Ihv0mCrcW1TjvqMZDB7d7kTilj2WwhrRUcMiwwqSJiOrrLoI8bCIqHQApl6HqGU1oWAI1jzWEKoRqouprtiFtSlmeCbQWsYIIprqRF2E07DDoSK3ptqwzAQLY+4WZjOpe5Igq06IcEGDiRhMgUgmQ6xkKhfCmzMRpc8PgFFeDiKtpa4jPQSm8bB2jtQQVAOorkYXqO5WzvGYgKrFMARCaFROSBfBjzlwXIW46wfZYDJGYBkQdWvBLDUiUKOwvNn5llugG9q6RYocJWq06NAeeUWXZI2yWQMBU70ei5tGZHSTiSbRTZLt4ZNAuVMsqosCAA==') format('woff2'),
//   url('./font/iconfont.woff?t=1568862087510') format('woff'),
//   url('./font/iconfont.ttf?t=1568862087510') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
//   url('./font/iconfont.svg?t=1568862087510#iconfont') format('svg'); /* iOS 4.1- */
// }

@font-face {
  font-family: 'iconfont';  /* project id 1424250 */
  src: url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.eot');
  src: url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.woff') format('woff'),
  url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1424250_7kmcc6hcu7o.svg#iconfont') format('svg');
}

*[class*="el-icon-"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-arrow {
  &-up {
    &::before {
      content: "\e62d";
    }
  }
  &-down {
    &::before {
      content: "\e62f";
    }
  }
  &-right {
    &::before {
      content: "\e62e";
    }
  }
  &-left {
    display: inline-block;
    transform: rotate(-180deg);
    &::before {
      content: "\e62e";
    }
  }
}
.el-icon-caret-right {
  &::before {
    content: "\e62e";
  }
}

.el-icon-close:before {
  content: "\e8e7";
}

.el-icon-plus:before {
  content: "\e8e1";
}

.el-icon-export:before {
  content: "\e8c6";
}

.el-icon-import:before {
  content: "\e8c7";
}

.el-icon-editor:before {
  content: "\e6f5";
}

.el-icon-back:before {
  content: "\e6b1";
}

.el-icon-setting:before {
  content: "\e66f";
}

.el-icon-user:before {
  content: "\e638";
}

.el-icon-down:before {
  content: "\eb6d";
}
