@import "./element-variables.scss";
@import "./iconfont.scss";

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

ul {
  user-select: none;
  list-style: none;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background-color: #05254b;
  border: 1px solid #02439d;
}

*::-webkit-scrollbar-thumb {
  background-color: #0154c7;
}

.sider-bar {
  .el-menu {
    height: 100%;
    overflow-y: scroll;
    background-color: transparent;
    border-right: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .el-submenu-parent {
      background: url("../assets/images/menu-title-bg.png") no-repeat;
      background-size: 100% 54px;
      margin-bottom: 20px;
      .sub-title-line {
        display: none;
      }
      & > .el-submenu__title {
        font-size: 18px;
        text-align: center;
        height: 54px;
        line-height: 54px;
        padding: 0 !important;
        & > i {
          display: none;
        }
        & + ul {
          padding-left: 45px;
        }
      }
    }
    .el-menu-item {
      color: #fff;
      &:hover,
      &:focus {
        background-color: transparent;
      }
      &:focus {
        color: $azure;
        background-color: transparent;
      }
    }

    li[class*="is-opened el-submenu-parent"] {
      background: url("../assets/images/menu-title-bg-expand.png") no-repeat;
      background-size: 100% 100%;
      .sub-title-line {
        display: block;
        width: 80%;
        height: 1px;
        background: #00d6fd;
        margin: auto;
      }
    }
    .el-submenu__title {
      color: #fff;
      &:hover {
        background-color: transparent;
      }
      .el-submenu__icon-arrow {
        position: absolute;
        top: 8px;
        color: #4baefd;
        &:before {
          content: "\eb6d";
        }
      }
    }
  }
}
.common-container {
  height: 100%;
  color: #fff;
}

// app-wrapper
.app-wrapper {
  height: calc(100% - 174px);
  width: 100%;
  margin-top: 15px;
  .content-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: url(../assets/images/table-content-bg.png);
    background-size: 100% 100%;
    &-tool {
      position: relative;
      height: 38px;
    }
    &-table {
      height: calc(100% - 148px);
      margin-top: 35px;
      overflow: auto;
    }
    &-pagination {
      margin-top: 35px;
      height: 32px;
    }
  }
}
// elementUI消息弹窗样式修改
.el-message-box__wrapper{
  width: 300px;
  height: 200px;
  background: url(../assets/images/dialog-bg.png) repeat;
  background-size: 100% 100%;
  color:#63ACDF;
  left:50%; 
  top:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  .el-message-box{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    .el-message-box__header{
      position: absolute;
      bottom:0;
      right:50%;
      .el-message-box__headerbtn{
        border:none;
        outline:none;
        width: 30px;
        height: 30px;
        // background-size: 100% 100%;
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0);
        background: url(../assets/images/icon-close-dialog.png) repeat;
        background-size: cover;
        .el-icon-close:before {
          content: "";
        }
      }
    }
    .el-message-box__message{
      margin: 50px auto;
    }
  }
}
